<% if @event %>

    <div id="[<%= @event.midpoint.longtitude %>, <%= @event.midpoint.latitude %>]" class="event_detail_page m-1 mb-3 p-3 border-primary border rounded bg-dark">
        Project Description:
        <br><%= @event.remark %>
        <br>
        <br> Project Led by: <%= @event.user.username %>
        <br> Contact Email: <%= @event.user.email %>
        <br> <%= @event.invites.count %> Collaborators
        <br>
        <br> Meeting Details: 
            <% if @event.midpoint_id != 1 %>
                <br>Location Address
                <br><%= @event.midpoint.name %>
                <br><%= @event.midpoint.address %>
            <% else %>
                <span class="text-danger"> To be Determined </span>
            <% end %>
            <br>
        <br>Time: <%= @event.event_date.strftime("%d %b %Y, %A") %> <%= @event.event_time.strftime("%H:%M %p") %>
    </div>

<button type="button" class="back_btn btn btn-danger mr-2">Back</button>

<script>
    
    var coordinates = [<%= @event.midpoint.longtitude.to_f %>, <%= @event.midpoint.latitude.to_f %>];


    map.addSource('meetpoint', {
        type: 'geojson',
        data: {
            "type": "FeatureCollection", "features": [{
                "type": "Feature",
                "revelance": 1,
                "properties": {
                    "description": "test",
                    "landmark": true,
                    "category": "building",
                },
                "center": coordinates,
                "geometry":{
                    "coordinates": coordinates,
                    "type": "Point"
                }
            }]
        }
    });

    map.addLayer({
        'id': 'meetpoint',
        'type': 'circle',
        'source': 'meetpoint',
        'layout': {
            'visibility': 'visible'
        },
        'paint': {
            'circle-radius': 20,
            'circle-color': 'rgba(255,250,205,1)'
        }
    })

    map.getSource('meetpoint')._data.features.forEach(function(marker) {
            //create a DOM element for the marker
            var el = document.createElement('div');
            el.className = 'marker';
            el.style.backgroundImage = 'url(https://next-academy-group-1-coder-bot.herokuapp.com/assets/coderbot_head-336fa35287d0221cadcbf78a70390f3a9abada5d383781b1e05753bf70320c27.gif)';
            el.style.backgroundColor = "transnparent";
            el.style.height = "50px";
            el.style.width = "50px";

            //add marker to map
            // coordinates = [hotel.latitude, hotel.longtitude]
            new mapboxgl.Marker(el).setLngLat(coordinates).addTo(map);
            map.flyTo({
                center: coordinates,
                zoom: 15,
            });
        });


    $.ajax({
        url: "/show_map",
        method: "POST",
        data: {"event_id": <%= @event.id %> },
        dataType: "JSON",
        success: function(response){
            console.log(response[0])
            map.addSource('show_hotel', {
                type: 'geojson',
                data: response[0]
            });

            map.addLayer({
                'id': 'show_hotel',
                'type': 'circle',
                'source': 'show_hotel',
                'layout': {
                    'visibility': 'visible'
                },
                'paint': {
                    'circle-radius': 18,
                    'circle-color': 'rgba(255,0,0,1)'
                }
            })

            map.getSource('show_hotel')._data.features.forEach(function(marker) {
                var el = document.createElement('div');
                el.className = 'marker';
                el.style.backgroundImage = 'url(https://next-academy-group-1-coder-bot.herokuapp.com/assets/hotel_icon-fa5aa9fe3ae2a15f6465af79aa852e5db02d6aed3a2cbdc46bfeaee4dcf775a4.gif)';
                el.style.height = '50px';
                el.style.width = '50px';

                new mapboxgl.Marker(el).setLngLat(marker.center).addTo(map);
            });

        }
    })



</script>

<% end %>