<h4> Upcoming Meetings </h4>
<% if @invites.count != 0 %>
    <% @invites.each do |i| %>
        <script>
            var url = 'https://api.mapbox.com/directions/v5/mapbox/driving/' + <%= current_user.longtitude %> + ',' +  <%= current_user.latitude %>  + ';' +  <%= i.event.midpoint.longtitude %>  + ',' + <%= i.event.midpoint.latitude %> + '?steps=true&geometries=geojson&access_token=pk.eyJ1IjoibGltankwMTE0IiwiYSI6ImNqcmZyeGVveTFmenM0OWxwb2pheGZ3MW8ifQ.ka2dxppOoMDqiLiqzhh96Q';
            var req = new XMLHttpRequest();
            req.responseType = 'json';
            req.open('GET', url, true);
            console.log(url);
            console.log(req);
            req.onload = function() {
                console.log('within function');
                var data = req.response.routes[0];
                let trip_distance = data.distance;
                var dist = parseFloat(trip_distance / 1000).toFixed(1);
                if (dist > 100) {    
                    $('#event_sidebar_list_user').append('<tr><td colspan="2" class="text-primary"><strong> The meeting location is too far for you! <br> Find a hotel nearby! </strong></td></tr>')
                }
            };
            req.send();
        </script>

        <a id="event_<%= i.event.id %>" class="w-100 m-1 mb-3 p-3 border-primary border rounded bg-dark event_list_items text-white text-left text-sm" href="/invites_detail/<%= i.event.id %>" data-remote="true">
            <!-- <h5>Project Description:</h5> -->
            <p><%= i.event.remark %>   </p>
            <table class="text-white" id="event_sidebar_list_user">
                <!-- <tr><td><br></td></tr> -->
                <tr>
                    <td>Led By </td>
                    <td>: <%= i.event.user.username.upcase[0] + i.event.user.username[1..-1] %></td>
                </tr>
                <tr><td><br></td></tr>

                <tr>
                    <td colspan="2">Meeting Details</td>
                </tr>
                
                <tr>
                    <td>Location</td>
                    <td class="pr-2">: <%= i.event.midpoint.name %> </td>
                </tr>
                <tr>
                    <td>Time</td>
                    <td>: <%= i.event.event_date.strftime("%d %b %Y, %A") %>, <%= i.event.event_time.strftime("%I:%M %p") %> </td>
                </tr>
                
            </table>
        </a>
    <% end %>







<% else %>
    <h5><strong> You have <span class="text-danger">NO upcoming meetings. :( </span></strong></h5>
    <h5> Perhaps you don't have a good portfolio. :'( </h5>
    <br>
    <h4> Coderbot recommends you to attend <span class="text-primary"><strong>Next Academy's Full Stack Bootcamp </strong></span> to give your portfolio a BOOST! </h4>

    <script>
        mapboxgl.accessToken = 'pk.eyJ1IjoibGltankwMTE0IiwiYSI6ImNqcmZyeGVveTFmenM0OWxwb2pheGZ3MW8ifQ.ka2dxppOoMDqiLiqzhh96Q';
        var map = new mapboxgl.Map({
            container: 'map',
            style: 'mapbox://styles/mapbox/streets-v10', 
            // style: 'mapbox://styles/mapbox/satellite-streets-v9', 
            center: [101.6958, 3.1466],
            zoom: 1,
        });

        map.on("load", () => {
            console.log('run');
            map.addSource('next_academy', {
                type: 'geojson',
                data: {
                    "type": "FeatureCollection",
                    "features": [{
                        "type": "Feature",
                        "revelance": 1,
                        "properties": {
                            "description": "next academy",
                            "landmark": true,
                            "category": "building",
                            "iconSize": [60, 60],
                        },
                        "center": ["101.62993634", "3.1350717"],
                        "geometry":{
                            "coordinates": ["101.62993634", "3.1350717"],
                            "type": "Point"
                        }
                    }]
                }
            });

            map.addLayer({
                'id': '3d-buildings',
                'source': 'composite',
                'source-layer': 'building',
                'filter': ['==', 'extrude', 'true'],
                'type': 'fill-extrusion',
                'minzoom': 15,
                'paint': {
                    'fill-extrusion-color': '#aaa',
                    // use an 'interpolate' expression to add a smooth transition effect to the
                    // buildings as the user zooms in
                    'fill-extrusion-height': [
                        "interpolate", ["linear"], ["zoom"],
                        15, 0,
                        15.05, ["get", "height"]
                    ],
                    'fill-extrusion-base': [
                        "interpolate", ["linear"], ["zoom"],
                        15, 0,
                        15.05, ["get", "min_height"]
                    ],
                    'fill-extrusion-opacity': .6
                }
            });
            $('#sidebar_meeting').removeClass('d-none');
            setTimeout(() => {
                map.flyTo({
                    // center: ["101.62993634", "3.1350717"],
                    center: ["101.62996634", "3.1350717"],
                    zoom: 18.5,
                    pitch: 80,
                    bearing: 145,
                });
                setTimeout(() => {
                    map.addLayer({
                        'id': 'next_academy',
                        'type': 'circle',
                        'source': 'next_academy',
                        'layout': {
                            'visibility': 'visible',
                            // 'icon-image': "https://i.ibb.co/zPtc397/nextacademy-logo.png",
                            // 'icon-size': 0.25
                        },
                        'paint': {
                            'circle-radius': 1,
                            'circle-color': 'rgba(0,0,0,0)'
                        }
                    })

                    map.getSource('next_academy')._data.features.forEach(function(marker) {
                        let el = document.createElement('div');
                        el.className = 'marker';
                        el.style.width = "70px";
                        el.style.borderRadius = "50%";
                        el.style.left = "-80px";
                        // el.style.top = "50px";
                        el.style.backgroundImage = 'url(https://i.ibb.co/zPtc397/nextacademy-logo.png)';
                        // add marker to map
                        new mapboxgl.Marker(el).setLngLat(marker.geometry.coordinates).addTo(map);
                    });

                    setTimeout(() => {
                        map.flyTo({
                            center: ["101.62993634", "3.1350717"],
                            zoom: 5,
                            pitch: 80,
                            bearing: 145,
                        });

                        $('#next_academy').removeClass('d-none');
                            
                        setTimeout(() => {
                            
                            $("#map").hide( "puff", {percent: 100}, 3000 );
                            $("#sidebar_meeting").hide( "puff", {percent: 100}, 3000 );
                        })

                    }, 5000)


                }, 3500);
            }, 4000);
        })
    </script>
<% end %>

