
<div class="jumbotron" style="height:100%">
                    <div class="container" style= "background-color: black;
  opacity: .8; width: 80%; color:white; border-radius: 25px; padding: 25px;">
                    <h2><%= current_user.first_name.capitalize%> <%=current_user.last_name.capitalize%></h2>
                    <p><strong>About: </strong> <%= current_user.description %> </p>
                    <p><strong>Skills: </strong><%= current_user.lang%>
                    <p><strong>Address: </strong><%= current_user.address%>
                    <p><strong>Email: </strong><%= current_user.email%>
                    </p>           
                        <figcaption class="ratings">
                            <p>Ratings <br>
                            <a href="#">
                                <span class="fa fa-star-o" style="color:white;"></span>
                            </a>
                            <a href="#">
                                <span class="fa fa-star-o" style="color:white;"></span>
                            </a>
                            <a href="#">
                                <span class="fa fa-star-o" style="color:white;"></span>
                            </a>
                            <a href="#">
                                <span class="fa fa-star-o" style="color:white;"></span>
                            </a>
                            </p>
                        </figcaption>

                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter2">
          Edit Profile
          </button>
          <br>
</div>
  </div>



<div class="modal fade" id="exampleModalCenter2" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle">Edit Profile</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <%= render partial: 'users/form' %>
              </div>
            </div>
          </div>
        </div>

</div>


