<!-- mapbox search bar start -->
    <script src='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v3.1.0/mapbox-gl-geocoder.min.js'></script>
    <link rel='stylesheet' href='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v3.1.0/mapbox-gl-geocoder.css' type='text/css' />
<!-- mapbox search bar end -->

<div id='map' class="w-100" style='height: 100vh;'></div>
<nav id="menu"></nav>

<div id="sidebar_map" class="d-none">
    <div id="event_status" class="row p-0 m-3 justify-content-between">
        <p class="ml-3 mr-3 mt-2 text-white">My Events: <span id="user_event_count"><%= Event.where(user: current_user).count %></span> </p>
        <div class="ml-3 mr-3 "> 
            <button type="button" id="view_event_btn" class="btn btn-primary active">View My Events</button>
        </div>
        <div class="ml-3 mr-3 "> 
            <button type="button" id="new_event_btn" class="btn btn-primary active">New Event</button>
        </div>
    </div>

    <div id="event_create" class="m-3 text-white d-none">
        <%= render partial: "events/new" %>
    </div>

    <div id="event_list" class="m-3 text-white d-none">
        <%= render partial: "events/list" %>
    </div>

    <div id="event_details" class="m-3 text-white d-none">
        <%= render partial: "events/detail" %>
    </div>
</div>

<div id = 'rubybot_container'>
    <%= image_tag("rubybot_motion.gif", class: "rubybot") %>
</div>

<script>
// jquery script
$('#new_event_btn').on('click', () => {
    $('#event_status').addClass('d-none');
    $('#event_list').addClass('d-none');
    $('#event_create').removeClass('d-none');
    $('#event_details').addClass('d-none');
});

$('#view_event_btn').on('click', () => {
    $('#event_status').addClass('d-none');
    $('#event_list').removeClass('d-none');
    $('#event_create').addClass('d-none');
    $('#event_details').addClass('d-none');
});

$('.back_btn').on('click', () => { //sync detail
    $('#event_status').removeClass('d-none');
    $('#event_list').addClass('d-none');
    $('#event_create').addClass('d-none');
    $('#event_details').addClass('d-none');
});

$('#create_event_btn').on('click', () => {
    $('#user_event_count')[0].textContent = parseInt($('#user_event_count')[0].textContent) + 1
    $('#event_status').removeClass('d-none');
    $('#event_list').addClass('d-none');
    $('#event_create').addClass('d-none');
    $('#event_details').addClass('d-none');
});

$(document).on('turbolinks:load', function(){
//-----------------------------------------------------------------------------
// MAPBOX SCRIPT START
    let nos_routes = 0; //for clear_routes
    var center_calc = `${<%= @center %>}`;
    center_calc = center_calc.split(',');
    let center_cor = [parseFloat(center_calc[0]), parseFloat(center_calc[1])];
    mapboxgl.accessToken = 'pk.eyJ1IjoibGVvbmZ1cnkiLCJhIjoiY2pyaDUxNDZnMDQ0bzQ1cWp0MjFqNDh5aSJ9.lXa113BsThiaf5YBcxwQFA';
    var map = new mapboxgl.Map({
        container: 'map',
        style: 'mapbox://styles/mapbox/streets-v11',
        center: center_cor, // kuala lumpur //to be dynamic
        zoom: center_calc[2],
        pitch: 45, //pitch adjusts view from above
        bearing: 0, //bearings adjust latitude baseline
    });
    map.on("load", () => {
        console.log('------------------------------');
        $.ajax({
            url: "/map",
            method: "POST",
            dataType: "JSON",
            success: function(response){
                map.addSource('Ruby', {
                    type: 'geojson',
                    data: response[0]
                }); 
                
                map.addLayer({
                    'id': 'Ruby',
                    'type': 'circle', //fill, line, symbol, circle, heatmap, fill-extrusion, raster, hillshade, background
                    'source': 'Ruby',
                    'layout': {
                    'visibility': 'visible'
                    },
                    'paint': {
                        'circle-radius': 18,
                        'circle-color': 'rgba(255,0,0,0)' // pin color
                    },
                }); 
                map.addSource('Python', {
                    type: 'geojson',
                    data: response[1]
                }); 
                
                map.addLayer({
                    'id': 'Python',
                    'type': 'circle', //fill, line, symbol, circle, heatmap, fill-extrusion, raster, hillshade, background
                    'source': 'Python',
                    'layout': {
                    'visibility': 'visible'
                    },
                    'paint': {
                        'circle-radius': 18,
                        'circle-color': 'rgba(0,255,0,0)' // pin color
                    },
                }); 
                map.addSource('Java-Script', {
                    type: 'geojson',
                    data: response[2]
                }); 
                
                map.addLayer({
                    'id': 'Java-Script',
                    'type': 'circle', //fill, line, symbol, circle, heatmap, fill-extrusion, raster, hillshade, background
                    'source': 'Java-Script',
                    'layout': {
                    'visibility': 'visible'
                    },
                    'paint': {
                        'circle-radius': 18,
                        'circle-color': 'rgba(0,0,255,0)' // pin color
                    },
                }); 
                map.addSource('HTML-CSS', {
                    type: 'geojson',
                    data: response[3]
                }); 
                
                map.addLayer({
                    'id': 'HTML-CSS',
                    'type': 'circle', //fill, line, symbol, circle, heatmap, fill-extrusion, raster, hillshade, background
                    'source': 'HTML-CSS',
                    'layout': {
                    'visibility': 'visible'
                    },
                    'paint': {
                        'circle-radius': 18,
                        'circle-color': 'rgba(100,100,100,0)' // pin color
                    },
                }); 
                //-----------------------------------------------------------------
                var layers = map.getStyle().layers;
                var labelLayerId;
                for (var i = 0; i < layers.length; i++) {
                    if (layers[i].type === 'symbol' && layers[i].layout['text-field']) {
                        labelLayerId = layers[i].id;
                        break;
                    }
                }
                map.addLayer({
                    'id': '3d-buildings',
                    'source': 'composite',
                    'source-layer': 'building',
                    'filter': ['==', 'extrude', 'true'],
                    'type': 'fill-extrusion',
                    'minzoom': 15,
                    'paint': {
                        'fill-extrusion-color': '#aaa',
                        // use an 'interpolate' expression to add a smooth transition effect to the
                        // buildings as the user zooms in
                        'fill-extrusion-height': [
                            "interpolate", ["linear"], ["zoom"],
                            15, 0,
                            15.05, ["get", "height"]
                        ],
                        'fill-extrusion-base': [
                            "interpolate", ["linear"], ["zoom"],
                            15, 0,
                            15.05, ["get", "min_height"]
                        ],
                        'fill-extrusion-opacity': .6
                    }
                }, labelLayerId);
                // add marker
                map.getSource('Ruby')._data.features.forEach(function(marker) { mapMarker(marker, 'Ruby', 'url(/assets/pin_ruby_static.png)') });
                map.getSource('Python')._data.features.forEach(function(marker) { mapMarker(marker, 'Python', 'url(/assets/pin_python_static.png)') });
                map.getSource('Java-Script')._data.features.forEach(function(marker) { mapMarker(marker, 'Java-Script', 'url(/assets/pin_js_static.png)') });
                map.getSource('HTML-CSS')._data.features.forEach(function(marker) { mapMarker(marker, 'HTML-CSS','url(/assets/pin_hypercss_static.png)') });

                // toggle menu
                var toggleableLayerIds = [ 'Ruby', 'Python', 'Java-Script', 'HTML-CSS' ];
                for (var i = 0; i < toggleableLayerIds.length; i++) {
                    var id = toggleableLayerIds[i];
                    var link = document.createElement('a');
                    link.href = '#';
                    link.className = 'active mr-3 ml-3 btn btn-primary';
                    link.textContent = id;
                    link.onclick = function (e) {
                        var clickedLayer = this.textContent;
                        e.preventDefault();
                        e.stopPropagation();
                        var visibility = map.getLayoutProperty(clickedLayer, 'visibility');
                        if (visibility === 'visible') {
                            map.setLayoutProperty(clickedLayer, 'visibility', 'none');
                            $(`.${clickedLayer}`).addClass('d-none');
                            this.className = 'mr-3 ml-3 btn btn-light';
                        } else {
                            this.className = 'active mr-3 ml-3 btn btn-primary';
                            $(`.${clickedLayer}`).removeClass('d-none');
                            map.setLayoutProperty(clickedLayer, 'visibility', 'visible');
                        }
                    };
                    var layers = document.getElementById('menu');
                    layers.appendChild(link);
                }

                // search bar
                map.addControl(new MapboxGeocoder({
                    accessToken: mapboxgl.accessToken
                }));
                
                $('#sidebar_map').removeClass('d-none');
            //-----------------------------------------------------------------success call end
            },
            error: function(error){
                console.log('error in ajax call');
                console.log(error);
            }
        });
    });
    //------------------ Display
    var popup = new mapboxgl.Popup({
        closeButton: false,
        closeOnClick: false
    });

    map.on('mouseenter', 'Ruby', function(e) {mapPopup(e)});
    map.on('mouseenter', 'Python', function(e) {mapPopup(e)});
    map.on('mouseenter', 'Java-Script', function(e) {mapPopup(e)});
    map.on('mouseenter', 'HTML-CSS', function(e) {mapPopup(e)});

    map.on('click', function() { //remove popup when click anywhere on the map
        map.getCanvas().style.cursor = '';
        popup.remove();
    });

    function mapMarker(marker, lang, marker_img) {
        let coord = marker.geometry.coordinates;
        let el = document.createElement('div');
        el.className = `marker ${lang} ${marker.properties.poi}`;
        el.style.backgroundImage = marker_img;
        new mapboxgl.Marker(el).setLngLat(coord).addTo(map);
    }

    function mapPopup(e) {
        // Change the cursor style as a UI indicator.
        map.getCanvas().style.cursor = 'pointer';
        var coordinates = e.features[0].geometry.coordinates.slice();
        var description = e.features[0].properties.description;
        // Ensure that if the map is zoomed out such that multiple
        // copies of the feature are visible, the popup appears
        // over the copy being pointed to.
        while (Math.abs(e.lngLat.lng - coordinates[0]) > 180) {
            coordinates[0] += e.lngLat.lng > coordinates[0] ? 360 : -360;
        }
        // Populate the popup and set its coordinates
        // based on the feature found.
        popup.setLngLat(coordinates).setHTML(description).addTo(map);
        let query = $('#shortlist .user_id');
        let user_id = $('.user_id')[0].textContent;
        
        for (let i = 0; i < query.length; i++) {
            if (user_id == query[i].textContent) {
                $('.colab-btn').attr('disabled', 'disabled'); //change button state if user already selected
            }
        } 

        // map.getSource('Ruby')._data.features.forEach(function(marker)
        $('.colab-btn').on('click', () => {
            let poi = e.features[0].properties.poi;
            let user_lang = $('.user_lang')[0].textContent;
            let url_pin;
            $('.colab-btn').attr('disabled', 'disabled');
            switch (user_lang) {
                case " ruby ":
                    url_pin = "url(/assets/pin_ruby.gif)";
                    break;
                case " python ":
                    url_pin = 'url(/assets/pin_python.gif)';
                    break;
                case " javascript ":
                    url_pin = 'url(/assets/pin_js.gif)';
                    break;
                case " css ":
                    url_pin = 'url(/assets/pin_hypercss.gif)';
                    break;
            }
            
            $('#colab_count')[0].textContent = parseInt($('#colab_count')[0].textContent) + 1;
            $(`.${poi}`)[0].style.backgroundImage = url_pin;
            let new_p = document.createElement('p');
            new_p.innerHTML = `<div><span class="user_id">${user_id}</span> <br> User Lang: ${user_lang}</div>`;
            $('#shortlist').append(new_p);
            $('#meet_colab_btn').prop("disabled", false);
        })
    }

 

// MAPBOX SCRIPT END
//-------------------------------------------------------------------------------------
    
    $('#meet_colab_btn').on('click', () => {  //sync detail
        if  ($('#meet_colab_btn')[0].disabled == false) {
            let colabs = [];
            let query = $('#shortlist p .user_id');
            var AUTH_TOKEN = $('meta[name=csrf-token]').attr('content');
            let event_id = $('.event_detail_page')[0].id;
            console.log(event_id);
            for (let i = 0; i < query.length; i++) {
                colabs.push(query[i].textContent);
            }
            let checkout = {};
            checkout["colaborators"] = colabs;
            checkout["authenticity_token"] = AUTH_TOKEN;
            checkout["event_id"] = event_id;
            
            $.ajax({
                url: "/invite_colabs",
                method: "POST",
                data: checkout,
                dataType: "JSON",
                success: function(){
                    console.log('success');    
                    window.location = `/events/${event_id}`;
                },
                error: function(error){
                    console.log('error');
                    console.log(error);
                }
            });
        }
    })
    
}) //turbolinks end
</script>