<div class="p-2 text-right">

    <p class="float-left text-white mt-2 ml-2"><span id="colab_count"> 0 </span> New Collaborators  </p>

    

    <button id="meet_colab_btn" class="btn btn-primary" disabled="true"> Send Invite! </button>
</div>

        
<% if @event %>

    <div id="<%= @event.id %>" class="event_detail_page m-1 mb-3 p-3 border-primary border rounded bg-dark">
        Project Description:
        <br><%= @event.remark %>
        <br>
        <br> Existing Collaborators: <%= @event.invites.count %>
        <br> Meeting Location: 
            <% if @event.midpoint_id != 1 %>
                <%= @event.midpoint.name %>
            <% else %>
                <span class="text-danger"> TBC </span>
            <% end %>
        <br> Meeting Time: <%= @event.event_date.strftime("%d %b %Y, %A") %> <%= @event.event_time.strftime("%H:%M %p") %>
    </div>
    <div id="shortlist" class="ml-2">
        <h4> Collaborators </h4>
        <% if @event.invites.count != 0 %>
            <% @event.invites.each do |i| %>
                
                <div>
                    <span class="user_id d-none"><%= i.user.id %></span>
                    <span class="user_lang d-none"><%= i.user.lang %></span>
                    <%= i.user.username %>,
                    <% lang = i.user.lang %>
                    <span class="text-success">
                        <%= "Ruby" if lang == "ruby" %>
                        <%= "CSS" if lang == "css" %>
                        <%= "Java-Script" if lang == "javascript" %>
                        <%= "Python" if lang == "python" %>
                        <%= ['Specialist', 'Master', 'Intermediate', 'Novice'].sample %>
                    </span>
                </div>
            <% end %>
        <% end %>
    </div>

<% end %>
<br>
<button type="button" class="back_btn btn btn-danger mr-2">Back</button>
<a href="/events/<%= @event.id if @event %>" class="btn btn-primary mr-2"> View Project Detail </a>


<script>

$(window).on('load', () => {
    
    var check = $('#shortlist .user_id');
    for (let i = 0; i < check.length; i++) {
        var user_lang = $('#shortlist .user_lang')[i].textContent;
        console.log(user_lang);
        var url_pin;
        $('.colab-btn').attr('disabled', 'disabled');
        switch (user_lang) {
            case "ruby":
                url_pin = "url(https://next-academy-group-1-coder-bot.herokuapp.com/assets/selected_user_ruby-f9e7c67ae8ff82488b5c76c39acd3e59986b9da9bf3bc264ed8f5ee35f7ff1d4.gif)";
                break;
            case "python":
                url_pin = 'url(https://next-academy-group-1-coder-bot.herokuapp.com/assets/selected_user_js-fcfe1f683250bcfb04668263143e2b63e31eebfd2656c31ea6c3f7454c6af974.gif)';
                break;
            case "javascript":
                url_pin = 'url(https://next-academy-group-1-coder-bot.herokuapp.com/assets/selected_user_python-2944811398096b663838b230aa84d0f14c870609d07835bd8ce4e0c135e368bf.gif)';
                break;
            case "css":
                url_pin = 'url(https://next-academy-group-1-coder-bot.herokuapp.com/assets/selected_user_hypercss-41d9e7bc0d76d0daeaeb7d10ae12ebabd63dac5da3d0ee39bf34749649e1a593.gif)';
                break;
        }
        console.log($(`.poi_${check[i].textContent}`));
        $(`.poi_${check[i].textContent}`)[0].style.backgroundImage = url_pin;
    }
})
</script>