Project Description:
<br><%= @event.remark %>
<br>
<br> Total Collaborators: <%= @event.invites.count %>
<br> Meeting Location: 
    <% if @event.midpoint_id != 1 %>
        <%= @event.midpoint.name %>
    <% else %>
        <span class="text-danger"> TBC </span>
    <% end %>
<br> Meeting Time: <%= @event.event_date.strftime("%d %b %Y, %A") %> <%= @event.event_time.strftime("%H:%M %p") %>