<h4> Create New Event </h4>
<%= form_with url: user_event_path(current_user.id), scope: "event", remote: true do |form| %>    
    <table class="text-white">
        <tr>
            <td colspan="3"><%= form.label :Description %> </td>
        </tr>

        <tr>
            <td colspan="3"><%= form.text_area :remark, class:"form-control field_width", rows:"2", cols:"200" %> </td>
        </tr>

        <tr>
            <td><br></td>
        </tr>

        <tr>
            <td><%= form.label :Event_date %> </td>
            <td width="20%"></td>
            <td><%= form.label :Event_time %> </td>    
        </tr>

        <tr>
            <td><%= form.date_field :event_date, class:"form-control field_width" %> </td>
            <td></td>
            <td><%= form.time_field :event_time, class:"form-control field_width" %> </td>
        </tr>
        <td><br></td>
        <tr>
            <td colspan="3" class="text-right">
                <button type="button" id="back_btn" class="btn btn-danger mr-2">Cancel</button>
                <%= form.submit class:"btn btn-primary" %>
            </td>
        </tr>
    </table>
<% end %>
