<html>
<head>
     <title>Coderbot</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%# bootstrap link %>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <!-- font -->
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700|Open+Sans:400,600,700" rel="stylesheet">
    <%# jquery %>
    <script
      src="https://code.jquery.com/jquery-3.3.1.js"
      integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
      crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>

    <%# Mapbox link start %>
    <meta charset='utf-8' />
    <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
    <script src='https://unpkg.com/mapbox@1.0.0-beta9/dist/mapbox-sdk.min.js'></script>
    <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.52.0/mapbox-gl.js'></script>
    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.52.0/mapbox-gl.css' rel='stylesheet' />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%# favicon icon link %>
    <link rel="icon" href="/coderbot_head_grey.png" type="image/png" sizes="16x16" />

</head>

<body>
    <nav class="navbar fixed-top navbar-expand-md navbar-dark bg-dark pt-3 pb-3">
        <div class='w-100 mobile_view_hide'>
            <ul class="nav nav-pills nav-fill">
                <% if signed_in? %>
                    <li class="nav-item">
                        <a class="navbar-brand ml-3" href="/maps" onclick="location.replace('/maps')">Map</a>
                    </li>
                    <li class="nav-item">
                        <a class="navbar-brand ml-3" href="/meeting" onclick="location.replace('/meeting')">Meeting</a>
                    </li>
                    <li class="nav-item">
                        <%= link_to "Profile", profiles_path, class:"navbar-brand ml-3" %>
                    </li>
                    <li class="nav-item">
                        <a class="navbar-brand ml-3" href="/admin" onclick="location.replace('/admin')">Admin</a>
                    </li>
                <% else %>
                    <li class="nav-item">
                        <%= link_to "Home", root_path, class:"navbar-brand ml-5 home_btn" %>
                    </li>
                <% end %>

                <% if signed_in? %>
                    <li class="nav-item">
                        <span class="mr-3 text-light"> <%= link_to 'Sign out', sign_out_path, method: :delete, class:"navbar-brand" %>| Signed in as: <%= current_user.username %></span>
                    </li>
                <% end %>
            </ul>
        </div>

        <div class="desk_view_hide w-100">
            <div class="navbar-nav">
                <% if signed_in? %>
                    <ul class="nav nav-pills nav-fill">
                        <li class="nav-item">
                            <a class="navbar-brand ml-3" href="/" onclick="location.replace('/')">
                                <%= image_tag "https://cdn1.iconfinder.com/data/icons/glyph-ui/100/ui-16-512.png", size: "35x35", style: "display: inline" %>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="navbar-brand ml-3" href="/maps" onclick="location.replace('/maps')">
                                <%= image_tag "https://cdn1.iconfinder.com/data/icons/glyph-ui/100/ui3-14-512.png", size: "35x35", style: "display: inline"  %>
                            </a>
                        </li>
                        <li class="nav-item">
                            <%= link_to profiles_path do %>
                                <%= image_tag "https://cdn1.iconfinder.com/data/icons/glyph-ui/100/ui2-03-512.png", size: "30x30",style: "display: inline; margin-top: 6px;" %>
                            <%end%>
                        </li>
                        <li class="nav-item">
                            <%= link_to sign_out_path, method: :delete do %>
                                <%= image_tag "https://cdn2.iconfinder.com/data/icons/pictograms-3/512/18-512.png", size: "30x30",style: "display: inline; margin-top: 6px;" %>
                            <%end%>
                        </li>
                    </ul>
                <% else %>
                    <%= link_to "Home", root_path, class:"navbar-brand home_btn" %>
                <% end %>
            </div>
        </div>   
    </nav>

    <!-- <div id="flash" >
        <% flash.each do |key, value| %>
            <% if key == "success" %>
                <div class="text-dark text-center font-weight-bold bg-success flash <%= key %>"><%= value %></div>
            <% elsif key == "error" %>
                <div class="text-dark text-center font-weight-bold bg-danger flash <%= key %>"><%= value %></div>
            <% else %>
                <div class="text-dark text-center font-weight-bold bg-warning flash <%= key %>"><%= value %></div>
            <% end %>
        <% end %>
    </div>
     -->
    
        <%= yield %>

<% image_tag('pin_python_static.png') %>   
<% image_tag('pin_hypercss_static.png') %>   
<% image_tag('pin_js_static.png') %>   
<% image_tag('pin_ruby_static.png') %>   

<% image_tag('pin_python.gif') %>   
<% image_tag('pin_hypercss.gif') %>   
<% image_tag('pin_js.gif') %>   
<% image_tag('pin_ruby.gif') %>   
<% image_tag('hotel_icon.gif') %> 

<% image_tag('selected_user_python.gif') %>   
<% image_tag('selected_user_hypercss.gif') %>   
<% image_tag('selected_user_js.gif') %>   
<% image_tag('selected_user_ruby.gif') %>   

<% image_tag('coderbot_head.gif') %>   
</body>
</html>
