<html>
<head>
     <title>Codermon</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%# bootstrap link %>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <%# jquery %>
    <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>

    <%# Mapbox link start %>
    <meta charset='utf-8' />
    <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />

    <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.52.0/mapbox-gl.js'></script>
    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.52.0/mapbox-gl.css' rel='stylesheet' />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

</head>

<body>
    <!-- Navigation -->
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark pt-3 pb-3">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
                
        <div class="mobile_view_hide">
            <% if signed_in? %>
                <%= link_to "Home", root_path, class:"navbar-brand ml-3" %>
                <%= link_to "Map", maps_path, class:"navbar-brand ml-3" %>
                <%= link_to "Meetings", meeting_path, class:"navbar-brand ml-3" %>
            <% else %>
                <%= link_to "Home", root_path, class:"navbar-brand ml-5 home_btn" %>
            <% end %>
        </div>
        
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav desk_view_hide">
                <% if signed_in? %>
                    <%= link_to "Home", root_path, class:"navbar-brand" %>
                    <%= link_to "Map", maps_path, class:"navbar-brand" %>
                    <%= link_to "Meetings", meeting_path, class:"navbar-brand" %>
                <% else %>
                    <%= link_to "Home", root_path, class:"navbar-brand home_btn" %>
                <% end %>

                <% if signed_in? %>
                    <span class="mr-3 text-light"> <%= link_to 'Sign out', sign_out_path, method: :delete, class:"navbar-brand" %>| Signed in as: #<%= current_user.id %> <%= current_user.username %> </span>
                <% else %>
                    <% if Clearance.configuration.allow_sign_up? %>
                        <%= link_to t(".sign_up"), root_path, method: :get, remote: true, class:"navbar-brand mr-5 sign_up_btn" %>
                    <% end %>
                    <%= link_to 'Sign in', root_path, method: :get, remote: true, class:"navbar-brand sign_in_btn" %>
                <% end %>
            </div>
        </div>   
        
        <div class="mobile_view_hide">
            <% if signed_in? %>
            <span class="mr-3 text-light"> Signed in as: #<%= current_user.id %> <%= current_user.username %> | </span>
                <%= link_to 'Sign out', sign_out_path, method: :delete, class:"navbar-brand" %>
            <% else %>
                <% if Clearance.configuration.allow_sign_up? %>
                    <%= link_to t(".sign_up"), root_path, method: :get, remote: true, class:"navbar-brand mr-5 sign_up_btn" %>
                <% end %>
                <%= link_to 'Sign in', root_path, method: :get, remote: true, class:"navbar-brand sign_in_btn" %>
            <% end %>
        </div>
    </nav>














    <div id="flash" >
        <% flash.each do |key, value| %>
            <% if key == "success" %>
                <div class="text-dark text-center font-weight-bold bg-success flash <%= key %>"><%= value %></div>
            <% elsif key == "error" %>
                <div class="text-dark text-center font-weight-bold bg-danger flash <%= key %>"><%= value %></div>
            <% else %>
                <div class="text-dark text-center font-weight-bold bg-warning flash <%= key %>"><%= value %></div>
            <% end %>
        <% end %>
    </div>
    <div class="">
        <%= yield %>
    </div>
<!--
    <div id="demo">
        <p id="image" onmouseover="animateScript()" onmouseout="stopAnimate()">
        </p>
    </div>
-->    
</body>
</html>
