<html>
<head>
     <title>Codermon</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%# bootstrap link %>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <%# jquery %>
    <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>

    <%# Mapbox link start %>
    <meta charset='utf-8' />
    <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />

    <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.52.0/mapbox-gl.js'></script>
    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.52.0/mapbox-gl.css' rel='stylesheet' />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

</head>

<body>
        <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="#">CoderBot</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">Home
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <% if signed_in? %>
    <%=link_to "Sign out", sign_out_path, method: :delete, class: "nav-link" %>
<% elsif signed_in? == false %>
    <%=link_to "Sign in", sign_in_path, method: :get, class: "nav-link" %>
<%end%>
            <li class="nav-item">
              <a class="nav-link" href="#">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Services</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div id="flash" >
        <% flash.each do |key, value| %>
            <% if key == "success" %>
                <div class="text-dark text-center font-weight-bold bg-success flash <%= key %>"><%= value %></div>
            <% elsif key == "error" %>
                <div class="text-dark text-center font-weight-bold bg-danger flash <%= key %>"><%= value %></div>
            <% else %>
                <div class="text-dark text-center font-weight-bold bg-warning flash <%= key %>"><%= value %></div>
            <% end %>
        <% end %>
    </div>
    <div class="mt-5 pt-3">
        <%= yield %>
    </div>
    <div id="demo">
        <p id="image" onmouseover="animateScript()" onmouseout="stopAnimate()">
        </p>
    </div>

</body>
</html>
